.interaction-section-container {
  background-color: cyan;
  display: grid;
  grid-template-rows: 2fr 1fr;
  .interaction-grid-top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .user-calorie-status {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: grey;
      > div {
        background-color: slategrey;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        padding: 3rem 0;
        p + p {
          border-left: 1px solid whitesmoke;
        }
        p {
          padding: 0 10%;
          color: seashell;
        }
      }
    }
  }
  .interaction-grid-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
