.nav-slider {
  // display: none;
  p {
    color: red;
    font-size: 1.5rem;
    transform: rotate(90deg) translate(20rem,8rem);
    text-align: center;
    width: 17rem;
    position: absolute;
    
  }
}
